html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}
*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #e2e2e2;
  display: flex;
}

nav {
  background-color: #e2e2e2;
}

body {
  margin: 0;
  background-color: #fff;
}

header img {
  display: flex;
  align-self: auto;
}

img {
  width: 2rem;
}

header ul li a {
  text-decoration: none;
  padding: 0 .5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  color: #0074d9;
  font-size: 1.125rem;
}

nav a {
  color: #0074d9;
  font-size: 1.125rem;
}

header h1 {
  display: flex;
}

header p {
  display: flex;
}
