html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #e2e2e2;
  color: #0074d9;
}

body {
  margin: .5rem;
  background-color: #fff;
}

img {
  width: 2rem;
}

nav ul {
  display: flex;
  padding: 1rem;
}

img {
  display: flex;
}

header p {
  display: flex;
}
