html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #e2e2e2;
}

body {
  margin: .5rem;
  background-color: #fff;
}

img {
  width: 2rem;
}

ul li {
  display: flex;
}
